body {
    background-color: Silver;
    font-family: arial, helvetica, sans-serif;
    padding-top: 40px;
}

table{
    border: 2px solid black;
    padding: 10px;
    background-color: inherit;
}

table > tr,td{
  padding: 5px;
  border: 1px dotted grey;
  font-weight: bold;
}

.noborder{
  border: 0px;
  padding: 0px;
}


.table_div{
position: absolute;
left: 35%;
top: 95%;

}

.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
    background:gray;
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
    color:black;
    background:gray;
}

.ui-datepicker table {
	width: 100%;
	font-size: .7em;
	border-collapse: collapse;
    font-family:verdana;
	margin: 0 0 .4em;
    color:#000000;
    background:lightgray;
}

/*This is date TD */
.ui-datepicker td {

	border: 0;
	padding: 1px;


}

.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .8em;
	text-align: right;
	text-decoration: underline;
}

hr{
    display: block;
    color: black;
    border-style: inset;
    border-width: 2px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
