body {
    background-color: Silver;
    font-family: arial, helvetica, sans-serif;
    padding-top: 40px;
}

table{
    border: 2px solid black;
    padding: 10px;
    background-color: inherit;
}

table > tr,td{
  padding: 5px;
  border: 1px dotted grey;
  font-weight: bold;
}

.date{
  background-color: black;
}

.table_div{
position: absolute;
left: 35%;
top: 80px;

}

.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
    background:#2F99B4;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
    color:#FFFFFF;
    background:#2F99B4;
}
.ui-datepicker table {
	width: 100%;
	font-size: .7em;
	border-collapse: collapse;
    font-family:verdana;
	margin: 0 0 .4em;
    color:#000000;
    background:#9EEFEE;
}
/*This is date TD */
.ui-datepicker td {

	border: 0;
	padding: 1px;


}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .8em;
	text-align: right;
	text-decoration: underline;
}
