body {
    font-family: arial, helvetica, sans-serif;
    padding-top: 40px;
}

html {
  background: url("muj.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

table{
    border: 2px double black;
    padding: 10px;
    opacity: 0.75;
    filter: alpha(opacity=50);
    background-color: #FF6633;
}


table:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

table > tr,td{
  padding: 5px;
  border: 2px inset red;
  font-weight: bold;
}

.noborder{
  border: 0px;
  padding: 0px;
}


.table_div{
position: absolute;
left: 10%;
top: 10%;

}

.hiddenField{
  display: none;
}

.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
    background:gray;
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
    color:black;
    background:gray;
}

.ui-datepicker table {
	width: 100%;
	font-size: .7em;
	border-collapse: collapse;
    font-family:verdana;
	margin: 0 0 .4em;
    color:#000000;
    background:lightgray;
}

/*This is date TD */
.ui-datepicker td {

	border: 0;
	padding: 1px;


}

.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .8em;
	text-align: right;
	text-decoration: underline;
}

hr{
    margin-top: 1em;
    display: block;
    color: black;
    border-style: outset;
    border-width: 2px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: green;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px orange;
}

.button:hover {background-color: darkgreen}

.button:active {
  background-color: red;
  box-shadow: 0 5px green;
  transform: translateY(4px);
}

.multiselect {
    width:29em;
    height:10em;
    overflow:auto;
}

.multiselect_new {
    width:29em;
    height:1em;
    overflow:auto;
}

.multiselect_new label {
    display:inline;
}

.multiselect label {
    display:block;
}

.multiselect-on {
    color:#000000;
    background-color:#FFCC66;
}

.success_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
